<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a ng-href="#">Home</a></li>
    <li><a ng-href="#/projects">Projects</a></li>
    <li><a ng-href="#/contact">Contact</a></li>
    <li class="active"><a ng-href="#/admin">Admin</a></li>
  </ul>
  <h3 class="text-muted">Workshop</h3>
</div>

<div class="container-fluid">

	<form role="form" novalidate class="col-sm-6" name="newProjectForm">
		<h3>Add a new Project</h3>

		<div class="form-group">

			<label for="projName">Project Name</label>
			<input type="text" ng-model="proj.name" id="projName" class="form-control" placeholder="Project Name">

		</div>

		<div class="form-group">
			<label for="githubLink">Github Link</label>
			<input type="text" ng-model="proj.gitLink" id="gitHubLink" class="form-control" placeholder="http://www.youriste.com">
		</div>

		<div class="form-group">
			<label for="projectAbout">About</label>
			<textarea id="projectAbout" ng-model="proj.about" class="form-control" placeholder="" rows="3"></textarea>
		</div>

		<button type="submit" ng-click="submitNewProject()" class="btn btn-default pull-right">Add Project</button>
	</form>
</div><!-- end container -->