<!-- Loop over all of the user submitted subjects -->
<!-- <div class="col-xs-12" ng-swipe-right="swipeItRight()" >

	<div ng-hide="showForm" ng-hide="showForm">

		<div class="panel panel-default text-center" ng-click="formSwap()" >
			<div class="panel-body">
				Add Subject
			</div>
		</div>

		<div class="panel panel-default" ng-repeat="data in loginObj">
			<p>{{data.name}}</p>
		</div>

	</div>

	<div ng-show="showForm">

		<form rold="form" novalidate class="col-xs-12" name="addNewSubjectForm">
			<p class="lead">What would you like to name your article?</p>

			<div class="form-group">
				<label for="formTitle">Title</label>
				<input type="text" ng-model="title" id="formTitle" class="form-control">
			</div>

			<div class="btn btn-default col-xs-12" ng-click="nextOption()">Next</div>
		</form>

	</div>
</div> -->

<test></test>


