<div>
	<script type="text/template" id="template_info">
		<div id="wrapper">

			<header>
				<nav> 
					<ul>
						<li><a href="index.html" id="logo"><p>Blog<p></a></li>
					</ul>
				</nav>
			</header>

			<section id="content">
				<div id="postInfo"> </div>
			</section>
			
			<footer> 
				<p>ADB1401 - Joseph Cavagna</p>
			</footer>

			
			</div>

		</div> <!-- wrapper -->
	</script>
	
	<script type="text/template" id="template_item">
	
		<div class="item_container">
			<p class="postTitle">{{=title}}</p>
			<p class="postAuthor">By: {{=author}}</p>
			<p class="postCategory">In: {{=category}}</p>
			<p class="postText">{{=text}}</p>
			<p class="postDatetime">On: {{=datetime}}</p>
			<div id="commentList"> </div>
		</div>

		<button id="editPostBtn">Edit Post</button>
		<button id="newCommentBtn">New Comment</button>


<!-- New Comment -->
		<div id="newComment">
				<form action="" method="get">
				<fieldset>

		<!-- Item ID -->
					<div id="field-item_id">
						<input type="hidden" name="item_id" id="item_id" class="required" value="{{=_id}}" />
					</div>

		<!-- Item Author -->
					<div id="field-item_author">
						<label for="item_author">Author</label>
						<input type="text" name="item_author" id="item_author" class="required" />
					</div>

		<!-- Item Text -->
					<div id="descbox">
						<label for="item_text">Text</label>
						<textarea name="item_text" id="item_text" 
									rows="8" cols="60"></textarea>
					</div>
						
		<!-- Controls -->
					<div>
						<input id="comment_submit" class="button" name="comment_submit" type="submit" value="save" />
					</div>
				</fieldset>
			</form>
			</div>


<!-- Edit Post -->
			<div id="editPost">
				<form action="" method="get">
				<fieldset>

		<!-- Item ID -->
					<div id="field-edit_id">
						<input type="hidden" name="edit_id" id="edit_id" class="required" value="{{=_id}}" />
					</div>

		<!-- Item Title -->
					<div id="field-edit_title">
						<label for="edit_title">Title</label>
						<input type="text" name="edit_title" id="edit_title" class="required" />
					</div>

		<!-- Item Text -->
					<div id="descbox">
						<label for="edit_text">Text</label>
						<textarea name="edit_text" id="edit_text" 
									rows="8" cols="60"></textarea>
					</div>
						
		<!-- Controls -->
					<div>
						<input id="edit_submit" class="button" name="edit_submit" type="submit" value="save" />
					</div>
				</fieldset>
			</form>
			</div>
	</script>
</div>